.product-card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    img {
      width: 100px;
      height: 100px;
      border-radius: 10px;
    }
  
    h3 {
      font-size: 16px;
    }
  
    p {
      font-size: 14px;
      color: #666;
    }
  
    .btn {
      background: #ffccd5;
      border: none;
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  